<ion-tabs>

  <ion-tab-bar slot="bottom" class="tabBar">

    <ion-tab-button tab="patients" class="tabButton">
      <ion-icon name="clipboard" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="warnings" class="tabButton">
      <ion-icon name="notifications-outline" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="watchlist" class="tabButton">
      <ion-icon name="eye" size="large"></ion-icon>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
